h1 {
    font-family: var(--ff-secondary);
    font-size: clamp(2rem, 12vmin, 5rem);
    --bg-size: 400%;
    background: linear-gradient(
                60deg,
                var(--background),
                var(--clr-correct),
                var(--clr-incorrect),
                var(--background)
              ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    h1 {
        animation: move-bg 15s 5s infinite linear;
    }

    @keyframes move-bg {
        to {
          background-position: var(--bg-size) 0;
        }
    }
}


form > *:not(:last-child) {
    margin-bottom: 1.5em;
}

label {
    margin-right: 0.25em;
}

legend {
    color: var(--foreground);
    background: var(--background);
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    opacity: 0.8
}

select {
    padding: 0.2em 0.4em;
}