
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-light: #fff8dc;
  --clr-dark: #3b3b3b;

  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #f79595;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --button-face: #6b6b6b;
  --button-color: #fff;
  --bg-selected: #D6DBF5;

  --ff-primary: 'Karla', sans-serif;;
  --ff-secondary: 'Inter Tight', sans-serif;
  --clr-correct: #176f2a;
  --clr-incorrect: #d03a1b;  
}

.darkmode {
  --clr-light: #fff8dc;
  --clr-dark: #121b16;
  --clr-primary: #1d2d1a;
  --clr-secondary: #01230a;
  --clr-accent: #f79595;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

/* Overriding the user agent styles with our own */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--clr-light);
    --foreground: var(--clr-dark);
  }
} */
